* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3e3e3;
}

/* CSS */
.input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}

.input:focus {
    outline-color: white;
    place-content: "Enter your message!";
}